<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\statics\css\style.css">
    <title>Tienda de animaciones</title>
</head>
<body>
    <header>
    </header>
    <main>
        <section id="Leon">
            <article id="Leon_execution"></article>
            <article id="Pelota"></article>
            <article id="Precio-Leon">$100</article>
            <article id="Nombre-Leon">Leon execution</article>
        </section>
        <section  id="Sayaka">
            <article id="Sayaka-death"></article>
            <article id="Precio-Sayaka">$200</article>
            <article id="Nombre-Sayaka">Sayaka death</article>
        </section>
        <section id="Owada">
            <article id="Owada_execution"></article>
            <article id="Precio-Owada">$150</article>
            <article id="Nombre-Owada">Owada execution</article>
        </section>
        <section id="Celes">
            <article id="Celes_execution"></article>
            <article id="Precio-Celes">$200</article>
            <article id="Nombre-Celes">Celes execution</article>
        </section>
        <section id="Mukuro">
            <article id="Mukuro-death"></article>
            <article id="Precio-Mukuro">$170</article>
            <article id="Nombre-Mukuro">Mukuro death</article>
        </section>
        <section id="Junko1">
            <article id="Junko-execution"></article>
            <article id="Precio-Junko1">$500</article>
            <article id="Nombre-Junko1">Junko execution</article>
        </section>
        <section id="Junko2">
            <article id="Junko-bye"></article>
            <article id="Precio-Junko2">$1000</article>
            <article id="Nombre-Junko2">Junko bye</article>
        </section>
        <section id="Personajes">
            <article id="Personajes-sprites"></article>
            <article id="Precio-Personajes">$2000</article>
            <article id="Nombre-Personajes">Personajes sprites</article>
        </section>
    </main>
</body>
</html>